{% extends 'base.html' %} {% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div
            class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto"
        >
            <h1
                class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900"
            >
                Password has been reset.
                <br />
                You have successfully reset your password. Click
                <a href="{% url 'login' %}" class="hover:text-sky-700">here</a>
            </h1>
            <p></p>
        </div>
    </div>
</section>

{% endblock content %}
