<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/simpledotcss@2.3.2/simple.min.css"
    />
  </head>

  <body>
    <a href="{% url 'lead-list' %}">Go back to leads</a>
    <h1>Create a new lead</h1>
    <br />
    <br />
    <form method="post">
      {% csrf_token %} {{ form.as_div }}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
